body {
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(36, 176, 176, 0.2);
}

#anon_bg {
	width: 941.55px;
	height: 500px;
	opacity: 0.4;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	z-index: -1;
}

#how_to_img {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	box-shadow: 3px 3px 4px grey;
}

#hero_logo {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90%;
	border-radius: 50%;
	margin-top: 5px;
}
#hero_logo_login {
	position: absolute;
	display: flex;
	top: 45%;
	right: 92%;
	transform: translate(-50%, -50%);
	height: 90%;
	border-radius: 50%;
	margin-top: 5px;
}

#prayer {
	border-radius: 10%;
	box-shadow: 3px 3px 3px grey;
}

#navbar {
	background-image: linear-gradient(to right, rgb(49, 180, 209), rgb(28, 32, 145));
	height: 75px;
	position: sticky;
	margin-bottom: 15px;
}

#navbar > p {
	position: absolute;
	top: 56%;
	right: 85%;
	color: rgba(255, 255, 255, 0.7);
}

.anon_btn {
	position: relative;
	bottom: 10rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.nav-link {
	float: right;
	color: white;
	background-attachment: fixed;
	text-decoration: none;
	font-size: 17px;
	padding: 8px 12px;
	margin: 6px 1px 5px 5px;
	background-color: rgb(32, 142, 210, 0.7);
	border-radius: 10%;
	box-shadow: 2px 2px 5px grey;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

h2 {
	margin-top: 40px;
}

.quote {
	display: inline-block;
	position: fixed;
	top: 16rem;
	width: 40rem;
	text-shadow: 2px 2px 2px grey;
	color: rgb(63, 133, 177);
}

#edit_acct_btn {
	display: flex;
	justify-content: center;
}

.form-group {
	text-align: center;
}

form > button {
	display: inline-block;
	border: none;
}

form > a {
	display: inline-block;
}

.count-digit {
	color: #ffffff;
	background-color: rgb(63, 133, 177);
	font-size: 56px;
	padding: 10px 20px;
	text-shadow: 0 1px 0 white;
	border-radius: 10%;
}
.separator {
	font-size: 56px;
}
.options {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

#login_status {
	color: green;
}
