{% extends 'base.html' %}
{% block title%}
    Sit Meditation
{% endblock %}

{% block content %}

<div class="container text-center" id="index">
<div>

<h1 class="text-center" >Welcome to Sit Meditation</h1>
<p class="text-center">Register today to take your meditation practice to the next level!</p>
<div class="row justify-content-center">
    <img src="/static/jared-rice-xce530fBHrk-unsplash.jpg" id="anon_bg" alt="woman in meditation pose">
    <div class="quote">
        <h4 class="text-center">Quote of the Day</h4>
<h2>{{ today_quote|safe }}</h2>

</div>
</div>
<a href="/login" class="btn btn-lg btn-primary anon_btn">Log in</a>
<a href="/signup" class="btn btn-lg btn-primary anon_btn">Sign up</a>

</div>
</div>
{% endblock %}