<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
    
    <title>{% block title%} {% endblock %}</title>
</head>
<body>

    <nav class="navbar fixed-top" id="navbar">
        {% if not g.user %}
            <img src="/static/Screen Shot 2022-08-13 at 7.12.59 PM.png" id="hero_logo">
        {% else %}
            <img src="/static/Screen Shot 2022-08-13 at 7.12.59 PM.png" id="hero_logo_login">
            <a href="/">Home</a>
            <a href="/tips">How To</a>
            <a href="/sit">New Sit</a>
            <a href="/users/{{g.user.id}}/history">Your History</a>
            <a href="/logout">Log out</a>
        {% endif %}
    </nav>

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul style="list-style: none" class=flashes>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
</div>
    {% endif %}
    {% endwith %}
{% block content %}
{% endblock %}
<hr>
<footer class="text-center"><small><em>Sit Meditation 2022</em></small></footer>
</body>

</html>