{% extends 'base.html' %}
{% block title %}
    Sit History
{% endblock %}

{% block content %}
<h1>Your Sit History</h1>
<p>Displaying entries for {{user.username}}<em><sup> ({{user.first_name}} {{user.last_name}})</em></sup></p>
<ul style="list-style-type: none;">
{% if not sits %}
    <p>You have not created a Sit entry yet! Take a moment to meditate and come back here to track today's practice.</p>
{% else %}
    {% for sit in sits %}
    <li><strong>{{sit.sit_title}}</strong></li>
    <li>Date: {{ sit.timestamp }} Rating: {{ sit.sit_rating }}</li>
    <li>{{sit.sit_body}}</li>
    {% endfor %}
{% endif %}
</ul>
{% endblock %}