{% extends 'base.html' %}
{% block title%}
    Sit Meditation
{% endblock %}

{% block content %}
<div class="container text-center" id="index">
<h1>Sit Meditation Tracker</h1>
<div class="row justify-content-center">
    <img src="/static/jared-rice-xce530fBHrk-unsplash.jpg" id="anon_bg" alt="woman in meditation pose">
    <div class="quote">
        <h4 class="text-center">Quote of the Day</h4>
<h2>{{ today_quote|safe }}</h2>
<br>
<a class="btn btn-lg btn-primary" href="/sit">New Sit</a>
</div>
</div>
<br>


</div>
{% endblock %}