{% extends 'base.html' %}
{% block title%}
    Sit Sign Up 
{% endblock %}

{% block content %}
<div class="container text-center" id="index">
<h1>Signup Form</h1>
<p>We're so excited you have decided to join the ranks of Sit Trackers!</p>
<form method="POST" id="user_add_form">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>{{field.label}} 
        {{field}} {% for err in field.errors %} {{ err }} </p>
        {% endfor %}
    {% endfor %}
    <hr>
    <p><button class="btn btn-success">Sign Up!</button></p>
    <a href="/">Go Back</a>
    </form>

</div>

{% endblock %}