{% extends 'base.html' %}
{% block title %}
    How To 
{% endblock %}

{% block content %}
<div class="container" id="index">
<h1 class="text-center">How to Sit Meditate</h1>
<h3 class="text-center"><em>From <a href="https://www.mindful.org/how-to-meditate/">Mindful.org</a></em></h3>
<p>Meditation is simpler (and harder) than most people think. Read these steps, make sure you’re somewhere where you can relax into this process, set a timer, and give it a shot:
<ol>
    <li><b>Take a seat</b><br>
    Find place to sit that feels calm and quiet to you.</li>
    
    <li><b>Set a time limit</b><br>
    If you're just beginning, it can help to choose a short time, such as five or 10 minutes.</li>
    
    <li><b>Notice your body</b><br>
    You can sit in a chair with your feet on the floor, you can sit loosely cross-legged, you can kneel—all are fine. Just make sure you are stable and in a position you can stay in for a while.</li>
    
    <li><b>Feel your breath</b><br>
    Follow the sensation of your breath as it goes in and as it goes out.</li>
    
    <li><b>Notice when your mind has wandered</b><br>
    Inevitably, your attention will leave the breath and wander to other places. When you get around to noticing that your mind has wandered—in a few seconds, a minute, five minutes—simply return your attention to the breath.</li>
    
    <li><b>Be kind to your wandering mind</b><br>
    Don't judge yourself or obsess over the content of the thoughts you find yourself lost in. Just come back.</li>
    
    <li><b>Close with kindness</b><br>
    When you're ready, gently lift your gaze (if your eyes are closed, open them). Take a moment and notice any sounds in the environment. Notice how your body feels right now. Notice your thoughts and emotions.</li>
</ol>
    That's it! That's the practice. You focus your attention, your mind wanders, you bring it back, and you try to do it as kindly as possible (as many times as you need to).</p>
</div>
<br>
<img src="/static/jd-mason-xCPdjitY5sQ-unsplash.jpg" id="how_to_img" alt="woman's hand and knee during meditation">
<br>
<div class="container">
<h1 class="text-center">How to Use This App</h1>
    <h3 class="text-center"><em>Make the most out of your meditation practice</em></h3>
    <p>To use the Sit Meditation app, complete a Sit Meditation following the guidelines above.</p>
    <p>Then:</p>
    <ol>
        <li><b>Click on 'Log Sit'</b><br>
        This will open a Sit Entry form</li>
        
        <li><b>Complete the Entry</b><br>
        Take note of the date and duration, and give your entry a snappy title.  Use the notes block to record anything you may want to remember, such as, "This was a really tough meditation today, but I'm glad I did it!" or "Breakthrough!  30 minutes this time!"
        </li>

        <li><b>Rate Your Sit</b><br>
        Select a rating from Great to Poor.  These ratings can be helpful as you start to see trends... Are you always rating Saturday afternoon meditations as just 'Okay'?  Maybe that's not the best time for you to Sit!</li>

        <li><b>Review Your History</b><br>
        As you pracitce meditation more and more, you can review your history by clicking on the 'Your History' tab.  Watch yourself improve both in duration, rating, or even the notes you capture.  The more you can make Sit a daily practice, the more you will get out of meditation.</li>
        </ol>
        <p>You've got this!  Now get out there and Sit!</p>
</div>
{% endblock %}