{% extends 'base.html' %}
{% block title %}
    Edit Sit
{% endblock %}

{% block content %}
<div class="container" id="index">

    <div class="text-center">
    <h1 class="text-center">Edit Current Entry</h1>
    <h3 class="text-center">Make Edits Below and Submit</h3>
        <br>
    <form method="POST">
        <div class="form-group">
        {{ form.hidden_tag() }}
        <p>{{ form.datetime.label }} {{ form.datetime(class='datepicker', value=sit.timestamp) }}</p>
        <p>{{ form.duration.label }} {{ form.duration }} </p>
        <p>{{ form.title.label }} {{ form.title(size=40, value=sit.sit_title)}}</p>
        <p>{{ form.body.label }}:</p>
        {% set f = form.body.process_data(sit.sit_body) %}
             <p>{{ form.body(cols=40, rows=10) }}</p>
        <p>{{ form.rating.label }} {{ form.rating(value=sit.rating) }}</p>
        </div>
        <hr>
        <p><button type="submit" class="btn btn-primary">Edit Sit Entry</button></p>
        <a href="/users/{{g.user.id}}/history" class="btn btn-outline-danger">Cancel Changes</a>
        </form>
    </div>

  

</div>
</div>
{% endblock %}