{% extends 'base.html'%}
{% block title %}
    Edit Sit Profile
{% endblock %}

{% block content %}
<div class="container" id="index">
    <h1 class="text-center">Edit Your Sit Account</h1>
    <h3 class="text-center">Make Edits Below and Submit</h3>
    <div class="col-md-8">
<form method="POST" id="user_edit_form">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>{{field.label}} 
        {{field}} {% for err in field.errors %} {{ err }} </p>
        {% endfor %}
    {% endfor %}
    <hr>
    <p><button class="btn btn-success">Edit Account</button></p>
    <a href="/">Go Back</a>
    </form>

{% endblock %}